@model IEnumerable<string>

@{
    ViewBag.Title = "ShowList";
}

<h2>ShowList</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("詳細", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
